.button{
    background-color: blue !important;
    font-weight: bold !important;
    color:white !important;
}
.button1{
    background-color: rgb(42, 156, 27)!important;
    font-weight: bold !important;
    color:white !important;
}